<mat-tab-group animationDuration="0ms">
  <mat-tab label="Garagentor">
    <div align="center">
      <br>
	  <br>
	  
      <table style="text-align: left">
        <tr>
          <th>Tor</th>
          <th>   </th>
          <th>Status</th>
          <th>      </th>
          <th>Geöffnet</th>
          <th>        </th>
          <th>Geschlossen</th>
        </tr>
        <tr>
          <td>{{doorRight.doorName}}</td>
          <td>      				</td>
          <td>{{doorRight.doorState}}</td>
          <td>             </td>
          <td>{{doorRight.doorOpenAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>              </td>
          <td>{{doorRight.doorClosedAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>
      </table>
      <br>
      <br>
	  <button mat-raised-button color="primary" (click)="openDoor1()">Tor Rechts bedienen</button>
	  <br>
	  <br>
	  <mat-form-field class="example-form-field">
		<mat-label>PIN</mat-label>
		<input matInput type="text" [(ngModel)]="pin">
		<button mat-button *ngIf="pin" matSuffix mat-icon-button aria-label="Clear" (click)="pin=''">
		  <mat-icon>close</mat-icon>
		</button>
	  </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="API-Übersicht">
    <div align="center">
		<br>
		<p>Kommunikation mit Home Automation Geräten über einen Python Web Service hosted als Docker Container auf Synology NAS.</p>
		<br>
		<br>
		<br>
		<table style="text-align: left">
			<tr>
				<th>Ressource</th>
				<th></th>
				<th>Antwort</th>
			</tr>
			<tr>
				<td>Server Status</td>
				<td>  </td>
				<td>{{serverStatus}}</td>
			</tr>
			<tr>
				<td>Relay0  Shelly1</td>
				<td>  </td>
				<td>{{shelly1Relay0}}</td>
			</tr>
			<tr>
				<td>Relay0 Shelly2</td>
				<td>  </td>
				<td>{{shelly2Relay0}}</td>
			</tr>
		</table>
	</div>
  </mat-tab>
</mat-tab-group> 
