<br>
<br>
<button mat-raised-button (click)="clickCreateArrayButton()">Generate new numbers</button>
<button mat-raised-button (click)="clickBubbleSortButton()">Bubble Sort</button>
<br>
<p>Unsorted Array</p>
{{input}}
<p>Sorted Array</p>
{{result}}


<ul>
  <li *ngFor="let item of chartResult.data;let indexOfElement=index;">
      <canvas *ngIf="chartResult.changedIndex == (indexOfElement - 1)" id="chartCanvas" width="5" height={{item*2}} style="background-color:red;"></canvas>
      <canvas *ngIf="chartResult.changedIndex != (indexOfElement - 1)" id="chartCanvas" width="5" height={{item*2}} style="background-color:blue;"></canvas>
  </li>
</ul>