<div align="center">
    <h2>Aktuelle Zeit: {{now | date:'H:mm:ss'}}</h2>
    <br>
    <table mat-table style="text-align: left">
        <tr>
          <th>Nach</th>
          <th>Abfahrtszeit</th>
          <th>Verbleibende Zeit</th>
        </tr>
        <tr>
          <td>St. Gallen</td>
          <td>{{now.getHours() | number: '2.'}}:{{nextToStGallen | number: '2.'}}</td>
          <td>{{minutesToStGallen | number: '2.'}}:{{secondsTo | number: '2.'}}</td>
        </tr>
        <tr>
          <td>Zürich</td>
          <td>{{now.getHours() | number: '2.'}}:{{nextToZurich | number: '2.'}}</td>
          <td>{{minutesToZurich | number: '2.'}}:{{secondsTo | number: '2.'}}</td>
        </tr>
      </table>

</div>
