<div align="center">
    <h2>Aktuelle Zeit: {{now | date:'H:mm:ss'}}</h2>
    <br>
    <h2>Nächste Verbindung Richtung St.Gallen in : {{minutesToStGallen | number: '2.'}}:{{secondsTo | number: '2.'}}</h2>
    <h2>Nächste Verbindung Richtung Zürich in: {{minutesToZurich | number: '2.'}}:{{secondsTo | number: '2.'}}</h2>
    <br>
    <h2>Nächste Verbindung Richtung St.Gallen um: {{now.getHours() | number: '2.'}}:{{nextToStGallen | number: '2.'}}</h2>
    <h2>Nächste Verbindung Richtung Zürich um: {{now.getHours() | number: '2.'}}:{{nextToZurich | number: '2.'}}</h2>
</div>
