<div class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Laufveranstaltung</mat-label>
      <input matInput placeholder="Marathon" name="runningEventInput" [(ngModel)]="runningEventInput">
    </mat-form-field>
    <button mat-raised-button (click)="onAddEventClick()"> Add </button>
  </form>

  <mat-list>
    <h3><strong>Laufveranstaltungen</strong></h3>
    <mat-list-item *ngFor="let runningEvent of runningEvents;">
      <h4 mat-line>{{runningEvent.name}}</h4>
      <mat-icon (click)="onRemoveEventClick(runningEvent)" style="cursor: hand">clear</mat-icon>
    </mat-list-item>
  </mat-list>
</div>