<mat-toolbar>
        <mat-toolbar-row>
          <h1>adrianbrand</h1>
          <span class="menu-spacer"></span>
          <div>
            <a mat-button routerLink="/info"> Info</a>
            <a mat-button routerLink="/next-connections"> Next Connections</a>
            <a mat-button routerLink="/football-stats"> Football Stats</a>
            <a mat-button routerLink="/home-automation"> Home Automation</a>
            <a mat-button routerLink="/sudokuSolver"> Sudoku Solver </a>
            <a mat-button routerLink="/strava"> Strava</a>
            <a mat-button routerLink="/zhaw"> ZHAW</a>                    
          </div>
        </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>